<%inherit file="app_base.htm" />

<%block name="site_center">
    <h2>Contact Us</h2>
    <p>Use this form to contact Julie Olson with questions about community service.</p>
    <form method="POST"> 
        <p>Name: <input type="text" name="yourname" /></p>
        <p>Email: <input type="text" name="youremail" /></p>
        <p>Message: <input type="text" name="yourmessage" /></p>
        <input type="submit"/>
    </form>
    </br>
    <p>For issues regarding the website, contact webmaster@eastlakeservice.com (to be fixed?)</p>
</%block>
